/*--Basic-Elements
----------------------------------------------------------*/

*{
	color: #fff;
  font-family: 'Kaushan Script', cursive;
  margin: 0;
  padding: 0;
}

body{
	background-color: grey;
  overflow-x: hidden;
}

section{
  padding-bottom: 10px;
}

h1{
	font-size: 35px;
	padding: 10px;
}

h2{
  font-size: 25px;
  padding: 20px;
  text-align: center;
}

a{
	font-size: 16px;
}

p{
  font-size: 20px;
}


/*--Welcome-Section
----------------------------------------------------------*/

#welcome{
	background-image: url("../images/leila-hero-image2.jpg");
	height: 100vh;
  background-size: cover;

}


#welcome .wrapper{
	position: relative;
	display: inline-block;
	border-style: solid;
  border-width: 0px;
  top: 40vh;
  width: 100%;
  text-align: center;
  
}

.ghost-button-semi-transparent {
  display: inline-block;
  width: 200px;
  padding: 8px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s ease-out,
              border-color 0.2s ease-out;
}
.ghost-button-semi-transparent:hover,
.ghost-button-semi-transparent:active {
  background-color: #fff; /* fallback */
  background-color: rgba(255, 255, 255, 0.4);
  border-color: #fff; /* fallback */
  border-color: rgba(255, 255, 255, 0.4);
  transition: background-color 0.3s ease-in,
              border-color 0.3s ease-in;
}


/*--Image Gallery
----------------------------------------------------------*/

#gallery{
 background-image:
    radial-gradient(
      circle farthest-side,
      #ff9b16, #e55004);
    }

li{
  display: inline-block;
  width: 24%;
  list-style: none;
  list-style-type: none;
  padding: 2px;
  margin-left: ;
}

.wrapper{
  
  width: 100%;
  text-align: center;
  background-color: ;

}

.thumb{
  width: 100%;
}

/*--Show/Hide-Gallery-------------------------------------*/

.read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: 1s ease;
  position: absolute;

}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
  position: relative;
  transition: 1s ease;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'Show all';
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Show less';
}

.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  padding: 0 .5em;
  color: #fff;
  font-size: .9em;
  line-height: 2;
  border: 1px solid #ddd;
  border-radius: .25em;
}


/*--About-Section
----------------------------------------------------------*/

#about{
  background-image: url("../images/desktop-leila-flowers-bg1.jpg");
  background-position:center; right;
  background-repeat: no-repeat;
  background-size: 100%;
}

#about .wrapper{
  padding-top: 10%;
  text-align: center;
  padding-bottom: 15%
}

article{
  text-align: left;
  width: 47%;
  padding-left: 15px;
}



/*--Media-Queries
----------------------------------------------------------*/

/*--iPad-----------------------------------*/
@media only screen and (max-width: 770px){

#welcome{
    background-image: url("../images/ipad-leila-hero-image1.jpg");

}


li{
    width: 32%;
    padding: 1px;
   }

#about{
  background-image: url("../images/ipad-leila-flowers-bg1.jpg");
  background-position:center right;
  background-repeat: no-repeat;
  background-size: cover;
}

}

/*--iPhone----------------------------------*/
@media only screen and (max-width: 575px){
li{
    width: 48%;
    padding: 0;
   }

#about{
  background-image: url("../images/iphone-leila-flowers-bg1.jpg");
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
}

#about .wrapper{
  padding-top: 15%;
  text-align: center;
  padding-bottom: 15%
}

article{
  text-align: center;
  width: 90%;
  padding-left: 15px;
}

}
  
